#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%; }

body { font-family: 'Bangers', cursive; }

.legend label,
.legend span {
  float:left;
  height:15px;
  margin: 2px;
  width:20%;
  display: block;
  font-size:9px;
  color:#808080;
  }

.menu-ui {
background:#191919;
position:absolute;
top:10px;right:10px;
z-index:1;
border-radius:3px;
width:120px;
border:1px solid rgba(0,0,0,0.4);
}

.menu-ui a {
  font-size:18px;
  color:#FFFFFF;
  display:block;
  margin:0;padding:0;
  padding:5px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
  }
  .menu-ui a:first-child {
    border-radius:3px 3px 0 0;
    }
  .menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
    }
  .menu-ui a:hover {
    background:#191919;
    color:#800000;
    }
  .menu-ui a.active,
  .menu-ui a.active:hover {
    background:#191919;
    color:#DAB547;
    }