<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' id='filter-all'>All</a>
  <a href='#' id='filter-tonight'>Tonight</a>
  <a href='#' id='filter-upcoming'>Upcoming</a>
  <a href='#' id='filter-closed'>Closed</a>
</nav>
<div id="map">
  <%= include_gon %>
</div>